@model Bulky.Models.Entities.Category;

@{
    ViewData["Title"] = Model is not null and {Id: > 0} ? "Update Category" : "Create Category";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>@(Model is { Id: > 0 } ? "Update": "Create") category</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary w-50" asp-controller="Category" asp-action="Index">Back</a>
        </div>
    </div>
    
    <div asp-validation-summary="All"></div>
    
    <form method="post" asp-action="@(Model != null && Model.Id > 0 ? "Update" : "Create")" asp-controller="Category">
        <div class="mb-3">
            <label class="" asp-for="Name"></label>
            <input class="form-control" asp-for="Name"/>
            <span class="text-danger fw-bold" asp-validation-for="Name"></span>
        </div>
        
        <div class="mb-3">
            <label class="" asp-for="DisplayOrder"></label>
            <input class="form-control" min="1" max="100" asp-for="DisplayOrder"/>
            <span class="text-danger fw-bold" asp-validation-for="DisplayOrder"></span>
        </div>
        
        <div class="d-flex flex-row-reverse row">
            <button type="submit" class="btn w-25 btn-primary form-control">Create</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}